<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weeeeeeeee</title>
</head>
<body class="container">

<header>
	<ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</header>

<main>
    <div>
        <h1>Bienviendu</h1>
        <p>C'est bien, non ?</p>
    </div>
</main>

</body>
</html>
